{% extends 'base.html' %}
{% load static %}



{% block content %}
{% load mathfilters %}
<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->
			<form method="post" action="{% url 'home:confirmCart' %}">
				{% csrf_token %}
				<div class="form-group">
					<p>Thông tin khách hàng</p>
					<p>Khach hang :</p><input type="text" name="custom" value={{user.username}}  class="form-control">
					<p>Email :</p><input type="text" name="custom" value={{user.email}} class="form-control">
					<p>Dia chi :</p><input type="text" name="address" class="form-control">
					<p>SDT :</p><input type="text" name="phone" class="form-control">
					<p>Note :</p><input type="text" name="note" class="form-control">
					<br>
					<div class="table-responsive cart_info">
						<table class="table table-condensed">
										<thead>
											<tr class="cart_menu">
												<td class="image">Ảnh sản phẩm</td>
												<td class="description">Tên sản phẩm</td>
												<td class="price">Đơn giá</td>
												<td class="quantity">Số lượng</td>
												<td class="total">Thành tiền</td>
												<td></td>
											</tr>
										</thead>
										<tbody>
											{% for key,value in request.session.cart.items %}

											<tr>
												<td class="cart_product">
													<a href=""><img src="{% static 'images/shop/' %}{{value.image}}" alt="" style="height:60px;width:60px"></a>
												</td>
												<td class="cart_title">
													<h4><a href="">{{value.name}}</a></h4>
												</td>
												<td class="cart_price">
													<p>{{value.price}}</p>
												</td>
												<td class="cart_quantity">
													<div class="cart_quantity_button">
														<input class="cart_quantity_input" type="text" name="quantity" value="{{value.num}}" autocomplete="off" size="2">
													</div>
												</td>
												<td class="cart_total">
													<p class="cart_total_price">{{value.price|mul:value.num}}</p>
												</td>
												<td class="cart_delete">
													<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
												</td>
											</tr>
											{% endfor %}
											<tr class="end">
												<td colspan="4">

													<h2 style="padding-left: 50px">Tổng tiền</h2>
												</td>
												<td colspan="2" class="text-danger text-left" >
													<strong style="font-size: 24px">{{total}}</strong>
												</td>
											</tr>
										</tbody>
									</table>
					</div>
				</div>
				<center><button type="submit" class="btn btn-primary" onclick="Success()" >Đặt hàng</button></center><br>
			</form>


		</div>

	</section> <!--/#cart_items-->
{% endblock content %}